<!DOCTYPE html>
<html lang="en">
<%- include("../components/head", {title: "TF U DOIGN HERE XD"}) %>
<body>
    <input id="title" name="title" placeholder="Title"><br>

    <div id="editor" name="description">
        <p>Hello World!</p>
        <p>Some initial <strong>bold</strong> text</p>
        <p><br></p>
    </div>

    <input id="category" name="category" placeholder="Add category..."><button id="category_add">Add</button><br>
    <input id="thumbnail_url" placeholder="Thumbnail url">OR<input id="thumbnail" type="file"><br>
    <input id="tweet" type="checkbox" value="tweet?"><label>tweet?</label>
    <input id="pleroma" type="checkbox" value="federate?"><label>Post to pleroma?</label>
    <button id="post">Post</button><span id="cats"></span><br>
    <input id="apikey" type="password" value="<%=process.env.CLOUDINARY_KEY%>">
    
    <h2 id="error" style="color:red ;"></h2>

      <script src="/public/scripts/quill/quill.js"></script>
      <script src="/public/scripts/quill/quillScript.js"></script>
</body>
</html>