<nav class="top-sprites">
    <link rel="stylesheet" href="/public/styles/headeranim.css">
    <div class="left-top-sprites">
        <a class="top-sprite" id="yume" href="/">
            <img src="/public/images/headersprites/yumekosprite.png">
            <p>HOME</p>
        </a>
    </div>

    <div class="middle-top-sprites">
        <a class="top-sprite" id="shinki" href="/blog">
            <img src="/public/images/headersprites/shinki.png">
            <p>BLOG</p>
        </a>
    </div>

    <div class="right-top-sprites">
        <a class="top-sprite" id="alice" href="/guestbook">
            <img src="/public/images/headersprites/alicemssprite.png">
            <p>GUESTBOOK</p>
        </a>

        <a class="top-sprite" id="puniepc98" href="https://synklisi.lyricaltokarev.fun">
            <img src="/public/images/headersprites/puniepc98.png">
            <p>SERVICES</p>
        </a>

        <a class="top-sprite" id="ring" href="/webring">
            <img src="/public/images/headersprites/ring.gif">
            <p>RING</p>
        </a>
    </div>
    <script src="/public/scripts/headeranimation.js"></script>
</nav>