<center>
    <div class="iterator">
    <% if(page !== 0 && page > 6){ %>
        <a href="/blog/writings"><<</a>
    <% } %>
    <% for(let i = page-5; i <= page+5; i++){ %>
        <% if (i < 0){ %>
            <% i = 0 %>
    <% } %>
        <% if(i > lastPage && i !== 0){ %>
            <% break %>
    <% } %>
        <% if(i === page){ %>
            <span><%= i %></span>
        <% }else{ %>
            <a href="/blog/writings/page/<%=i%>"><%=i%></a>
        <% } %> 

    <%} %>
    <% if(page !== lastPage && page < lastPage-5){ %>
        <a href="/blog/writings/page/<%=lastPage%>">>></a>
    <% } %>
    </div>
    <style>
        .iterator > *{
            font-size: 26px;
            color: white;
            margin-left: 20px;
            margin-right: 20px;
            text-decoration: none;
        }
        .iterator > *:visited{
            text-decoration: none;
        }
        .iterator > span{
            color: blue;
        }
    </style>
</center>