<!DOCTYPE html>
<html lang="en">
    <%- include("components/head", {title: "CHAT"}) %>

<body>
    <ul id="chatBody">

    </ul>
    <form id="messageForm">
        <input id="author" name="author" type="text">
        <input id="text" name="text" type="text">
        <input type="submit">
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/scripts/sockets/chat.js"></script>
</body>
</html>