<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyrical Tokarev</title>
    <link rel="stylesheet" href="/public/styles/index.css">
</head>
<body>

    <div class="top-sprites">
        <img id="alice" src="/public/images/alicemssprite.png">
        <img id="shinki" src="/public/images/shinki.png">   
        <img id="yume" src="/public/images/yumekosprite.png">
    </div>

    <div class="content">
        <div class="row">
            <nav>
                <img class="nav_image" src="/public/images/Sin título-8.png">
                <ul>
                    <li>Home</li>
                    <li>Blog</li>
                    <li>Guestbook</li>
                    <li>Chat</li>
                </ul>
            </nav>
            <div class="right">
                <div class="top">
                    <div class="top-gif-container">
                        <%if(typeof indexBarGifs !== 'undefined' && indexBarGifs[0]){ %>
                            <% for(let i = 0; i < 6; i++){ %>
                                <% const gif = indexBarGifs[i] %>
                                <img src=<%=gif.url%>>
                            <% } %>
                        <% }else{ %>
                        <h1>:(</h1>
                        <% } %>
                    </div>
                    <div class="pin-container">
                        <marquee id="marquee">
                            <a onmouseover="marquee.stop();" onmouseout="marquee.start();" href="https://lukesmith.xyz/" target="_blank"><img src="/public/images/pins/lukesmith.gif"></a>
                            <a onmouseover="marquee.stop();" onmouseout="marquee.start();" href="https://www.wiby.me" target="_blank"><img src="/public/images/pins/wiby.gif"></a>
                            <a onmouseover="marquee.stop();" onmouseout="marquee.start();" href="http://animegifs.free.fr/index2.html" target="_blank"><img src="/public/images/pins/aagp-mini-bouton.gif"></a>
                        </marquee>
                    </div>
                </div>

                    <div class="bottom">

                        <div class="bottom-gif-container">
                            <%if(typeof indexBarGifs !== 'undefined' && indexBarGifs[0]){ %>
                                <% for(let i = 6; i < 13; i++){ %>
                                    <% const gif = indexBarGifs[i] %>
                                    <img src=<%=gif.url%>>
                                <% } %>
                            <% }else{ %>
                            <h1>:(</h1>
                            <% } %>
                        </div>

                    <main>
                        <p>hola culeros bienvenidos a mi pagína en construccion xD Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem molestiae repellendus, excepturi deleniti at a eligendi esse ducimus cum quasi, vel alias, eius itaque quis nesciunt! Temporibus pariatur enim praesentium. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, dolore debitis nostrum sequi, voluptates ipsa impedit error sunt fuga quas dolorem quia! Nostrum esse totam dolores? Nam nostrum fuga nulla? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam deserunt, sunt possimus quia beatae exercitationem soluta odit est temporibus ab esse modi! Ad assumenda ducimus quia consequatur corporis, non accusamus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi possimus ipsum sed hic delectus, impedit repudiandae voluptatum sit magni saepe perferendis nobis enim dolorum unde reiciendis adipisci. Repudiandae, quibusdam possimus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium qui numquam tempora debitis accusantium aut ut rem veritatis omnis rerum aliquam, perferendis iste labore vero cumque sapiente ipsam reiciendis! Fuga. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, voluptas dicta ipsum, facilis laboriosam ipsa, in est commodi exercitationem minima et? Quisquam ullam aspernatur labore adipisci eveniet eos expedita quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestias consequuntur delectus quas cupiditate voluptatibus maxime libero eius? Nemo animi praesentium recusandae sapiente ipsam. Aliquid quisquam tempora eos laboriosam beatae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, dolorem facilis pariatur optio voluptatibus similique voluptatum tempore veniam, esse, ad velit natus laudantium porro. Repellendus cupiditate consectetur adipisci. Obcaecati, minus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod eius similique iure rem possimus nisi id aliquid alias eum inventore accusantium tenetur, dolores, ut nemo reiciendis optio magnam ratione voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptas similique harum provident quae sint, non deserunt nulla voluptates sequi expedita dolorum nihil maxime eligendi voluptatum! Doloremque quam maxime amet. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur assumenda totam et quaerat iure a asperiores amet quae sequi corrupti porro doloremque tenetur id ullam, aliquid voluptates ipsa corporis exercitationem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere explicabo velit fugit! Iste impedit id odit adipisci eaque dolores facere, culpa velit, labore quaerat necessitatibus corporis nisi. Earum, iste aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus nihil, magni explicabo laboriosam inventore consequatur tempora ex doloremque fugit commodi alias impedit distinctio ut illum dolorem officia. Saepe, nostrum ducimus? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi quam, quisquam doloribus esse blanditiis reprehenderit corporis repellendus consequuntur cum similique vitae expedita ut nobis, perspiciatis labore nihil. Doloremque, exercitationem in! Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi distinctio consequatur, exercitationem fuga animi repellendus voluptates optio ipsum doloribus, laborum nobis? Laboriosam, nemo labore deleniti praesentium alias odit beatae nulla. Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nemo amet quae magnam voluptatum, magni impedit aliquid sint aspernatur, quas ratione odio maiores explicabo vel ipsa officiis cupiditate. Rerum, sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis deserunt veniam assumenda asperiores quas illo culpa? Architecto, distinctio nemo, exercitationem, tempore eligendi vitae quibusdam molestiae assumenda aspernatur fugiat blanditiis quis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis porro eum id aperiam maxime, possimus laudantium officia? Ipsum, sint earum, inventore similique placeat nobis minima assumenda rem officiis, quis fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ratione dolores deserunt voluptatem praesentium quisquam dolorum excepturi vel blanditiis ea natus aspernatur, optio facere doloribus explicabo, eveniet quibusdam saepe accusamus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quisquam placeat, eos laudantium nostrum adipisci veniam minus reiciendis ipsa omnis doloribus voluptatem consequatur ut, tempora at laboriosam voluptatibus exercitationem atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus labore, explicabo iure perspiciatis illo, aliquid sit veritatis nisi odit debitis id aliquam atque voluptatem. Voluptates quis nostrum dolore dolores explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ad numquam rerum impedit similique. Quos, et at quasi dolor expedita ipsa, architecto illo nemo corrupti modi voluptas minima, ut nesciunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum eos natus aliquam eius blanditiis reprehenderit id voluptate perferendis! Temporibus facilis sed ipsam excepturi est aspernatur voluptas incidunt eius consectetur deleniti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptates aliquid et illo dolorum deserunt exercitationem tenetur corrupti, eligendi officia deleniti atque voluptatem similique tempore! Possimus sint ipsam id officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui suscipit facilis id, deleniti earum mollitia. Nemo consequuntur, aliquid officia similique eum natus sapiente nesciunt, harum qui impedit vero quo repudiandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque iure molestias, quas suscipit quidem repellat quam, quisquam tempore illo qui hic aliquam ipsa voluptate. Officiis sint molestias esse animi tempora! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur esse deleniti eius. Deserunt deleniti, odit itaque facilis porro inventore molestias quos assumenda soluta, ullam perferendis quas tenetur eius fuga id.</p>
                        <img class="nav_image" src="/public/images/underconstruction.gif">
                        <img src="/public/images/Screenshot_57.png">
                        <img src="/public/images/Screenshot_1.png">
                    </main>
                </div>
            </div>
    </div>
    </div>
    <div id="puni">
        <p class="speech">MATALOS A TODOS</p>
        <img src="/public/images/punifig.png">
    </div>
</body>
</html>