@font-face {
    font-family: domii;
    src: url('/public/fonts/DOMII___.TTF');
  }
@font-face{
    font-family: junicode;
    src: url('/public/fonts/Junicode.ttf');
}

body{
    background: url('/public/images/backgrounds/voilethemagiclibrary.png');
    background-position: center top;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 0;
}

.container{
    border-image-slice:
    16 16 16 16;
    border-image-width:
        20px 20px 20px 20px;
    border-image-outset:3px;   
    border-image-repeat:
    repeat repeat;
    border-image-source: url('/public/images/borders/stone.png');
    border-style:
    solid;
    width: 100%;
}


.content{
    display: flex;
    width: 100%;
    justify-content: center;
}

.title{
    background-image: url('/public/images/containerbgs/bookshelves/lt1.png');
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: domii;
}



.title_marquee > *{
    display: inline-block;
}

.title_marquee > img{
    width: 73px;
    height: 73px;
}

.column{
    background-image: url('/public/images/containerbgs/bookshelves/lt2.png');
    background-size: contain;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    justify-content: center;
    padding: 20px;
    /* border-top: 5px solid #50351A;
    border-bottom: 5px solid #50351A; */
    outline-offset: 20px;
}

.column > img{
    width: 153px;
    height: 123px;
    margin: 20px;
}

.al > img{
    width: 190px;
    height: 163px;
    margin: 20px;
}

.al{
    background-image: url('/public/images/containerbgs/greenem.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-image-source: url('/public/images/borders/testborder3.png');
    border-image-slice:
    169 165 165 165;
    border-image-width:
    20px 20px 20px 20px;
    border-image-outset:
    0px 0px 0px 0px;
    border-image-repeat:
    repeat repeat;
    border-style:
    solid;
    border-image-outset: 7px;
}

.column > div > h3{
    color: white;
}

.column > .fish{
    width: 100px;
    height: 33px;
}

.column > .thds{
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    height: 160px;
}

.articlesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 70%;
    flex-wrap: wrap;
    background-color: black;
    border-image: url('/public/images/borders/fleur-de-lis-gold-and-yellow-border-png.png');
    border-image-slice:
    132 144 120 144;
    border-image-width:
    20px 20px 20px 20px;
    border-image-outset: 13px;
    border-image-repeat:
    stretch stretch;
    border-style: solid;
    border-image-repeat: repeat;
    padding: 20px;
    background-image: url('/public/images/containerbgs/Umiog_different_space_1a.png');
    background-repeat: no-repeat;
    background-size:100% 100%;

  }

.abs-w{
    display: flex;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    margin: -20px;
    opacity: 0.52;
    line-break: auto;
    flex-direction: column;
    overflow: hidden;
}

.abs-w > marquee{
    font-weight: bolder;
    z-index: 19;
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

#YHVH{
    font-size: 96px;
    margin-top: -40px;
}

#w_1{
    font-size: 20px;
    font-weight: normal;
    margin-top: 7px;
}

#w_2{
    font-size: 25px;
    font-weight: bold;
    margin-top: 4px;
}

#w_3{
    font-size: 15px;
    font-weight: bolder;
    margin-top: 11px;
}

#w_4{
    font-size: 15px;
    font-weight: lighter;
    margin-top: 20px;
}

#mc{
    position: absolute;
    bottom: -20%;
    right: -20%;
    width: 700px;
    opacity: 0.5;
}



.article{
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-color: rgb(228, 162, 39);
    background-color: rgba(0, 0, 255, 0.2);
    border-width: 2.5px;
    border-style: outset;
    padding: 5px;
    width: 188px;
    max-height: 205px;
    margin: 4px;
    text-decoration: none;
    z-index: 20;
    font-family: junicode;
    color: rgb(161, 152, 152);
}

.article > h3{
    align-self: baseline;
    font-size: 16px;
    margin-left: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article > img{
    margin-right: 2px;
    height: 100px;
    width: 100%;
    object-fit: fill;
}


#patchy{
    width: 216px;
    height: 420px;
    position: fixed;
    bottom: 0;
    left: 0;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

#rss{
    position: absolute;
    z-index: 30;
    left: 20px;
    top: 20px;
}

#back{
    color: white;
    font-size: 26px;
    font-weight: bold;
    font-family: junicode;
    margin-top: 25px;
}

#back:visited{
    color: white;
}


@media (max-width: 1328px) {
    .right{
        display: none;
    }
    .articlesContainer{
        width: 98%;
    }
    body{
        padding: 0;
        padding-bottom: 20px;
    }
  }