body{
    background: url('/public/images/backgrounds/voilethemagiclibrary.png');
    background-position: center top;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.articlesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}