<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arcadia</title>
    <link rel="stylesheet" href="/public/styles/inside/arcadia.css">
</head>
<body>
    <div id="poem">
        <span id="text1">
            In the ear of the sweet white clover
            Low murmurs her lover, the bee;
        The sunbeam's myriad kisses
            Lie warm on the lips of the sea,
        And the glows at the touch, and sparkles
            In a quiver of ecstasy.
        </span>
        <span id="text2">
            To the rugged rocks of the headland
    The laughing billows creep
    With languid, caressing motions–
    A swift, coquettish leap–
    And then, like a frightened sea-bird,
    The waters backward sweep.
        </span>
        <span id="text3">
            Afar, on the distant landscape,
    The touch of the sea-fog lies,
    Blending in one soft shadow
    The waves and the arching skies,
    Hiding a land enchanted
    Whence mystical visions rise.
        </span>
        <span id="text4">
            The land of the lotus-eaters
    This happy island seems–
    Fanned by perpetual breezes,
    Brightened by fadeless beam–
    A place to lie forever
    In a rapture of blissful dreams
        </span>
    </div>
</body>
</html>