body{
    background-image: url("/public/images/inside/arcadia/arcadia.png");
    background-size: cover;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#poem{
    position: absolute;
    top: 5%;
    width: 100%;
    height: 100%;
}

#poem > *{
    white-space: pre;
    position: absolute;
    color: white;
    letter-spacing: 5px;
    font-weight: bold;
    text-shadow:0px 0px 10px #11c2ee, 0px 0px 10px #11c2ee,0px 0px 10px #11c2ee,0px 0px 10px #11c2ee,0px 0px 10px #11c2ee,0px 0px 10px #11c2ee,0px 0px 10px #11c2ee,0px 0px 10px #11c2ee,0px 0px 10px #11c2ee,0px 0px 10px #11c2ee,0px 0px 10px #11c2ee,0px 0px 10px #11c2ee, 5px 5px 20px #10a6cc, 10px 10px 10px #0c86a5;
    visibility: hidden;
}

#text1{
    animation-name: slide-right;
    animation: slide-right 1.73s normal steps(30);
    visibility: visible;
}

#text2{
    top: 20%;
    left: 10%;
    animation: slide-left 1.73s normal steps(30);
    animation-play-state: paused;
    visibility: visible;
}

#text3{
    top: 40%;
    animation: slide-right 1.73s normal steps(30);
    animation-play-state: paused;
}


#text4{
    top: 60%;
    left: 10%;
    animation: slide-left 1.73s normal steps(30);
    animation-play-state: paused;
}

@keyframes slide-right{
    0% {
        left: 10%;
        opacity: 0;
    }
    100%{
        left: 0%;
        opacity: 1;
    }
}

@keyframes slide-left{
    from {
        left: 0%;
        opacity: 0;
    }
    to{
        left: 10%;
        opacity: 1;
    }
}