body{
    padding: 0;
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-image: url('/public/images/backgrounds/shinkiheader.png'), url('/public/images/backgrounds/shinkiheader2.png');
    height: 217px;
    background-repeat: no-repeat, repeat-x;
    background-position: 50%, 53%;
    image-rendering: pixelated;
}

#rss{
    position: absolute;
    top: 0;
    right: 0;
}

main{
    padding: 25px;
    width: 60%;
    margin-top: 20px;
    background-image: url('/public/images/containerbgs/burnedmakai.png');
    background-color: #780000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: repeat-x;
    background-position: bottom;
    border-color: gray;
    border-width: 7.5px;
    border-style: outset;
}

.articlesContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.article{
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(211, 211, 211);
    border-width: 2.5px;
    border-style: outset;
    padding: 5px;
    width: 168px;
    height: 81px;
    margin: 4px;
    text-decoration: none;
}

.article > h3{
    font-size: 14px;
    margin-left: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article > img{
    margin-right: 2px;
    height: 35px;
}