@font-face {
    font-family: ms;
    src: url(/public/fonts/MagicDecimal.ttf);
  }

header{
    background: url(/public/images/backgrounds/msheader.png) top center;
    height: 130px;
}

.visitors{
    display: flex;
    position: absolute;
    object-fit: contain;
    margin-left: 20px;
}

.visitors > *{
    display: inline-block;
}



#kohakuvis{
    width: 93px;
    height: 97px;
}

#blackboard{
    margin-top: 40px;
    background: url(/public/images/backgrounds/blackboardmc.png);
    width: 100px;
    height: 50px;
    font-size: 11px;
    display: inline-flex;
    flex-direction: column;
}

.blackboard-text{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

.blackboard-text > *{
    animation: rainbow-text-color-change linear 1.5s infinite;
}

@keyframes rainbow-text-color-change {
    0%, 100% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    56% { color: blue; }
    70% { color: indigo; }
    84% { color: violet; }
  }

.top-sprites{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ms;
    text-decoration: none;
}

.top-sprite > p{
    opacity: 0;
    color: white;
    animation: fadeIn linear 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    text-decoration: none
}

.top-sprite > p:visited{
    opacity: 0;
    color: white;
    text-decoration: none;
}

.top-sprite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 9px;
    margin-right: 9px;
    text-decoration: none
}

.right-top-sprites > .top-sprite, .left-top-sprites > .top-sprite{
    animation: float 4s steps(24) infinite;
    animation-delay: 6s;
}

@keyframes fadeIn {
    100% { opacity: 1; }
  }

.right-top-sprites{
    animation: enterright 3.5s linear;
}

.middle-top-sprites{
    animation: entermid 5s linear;
}

.middle-top-sprites > .top-sprite{
    margin-bottom: 15px;
    animation: floatmid 4.3s steps(24) infinite;
    animation-delay: 5.5s;
}

.left-top-sprites{
    animation: enterleft 3.5s linear
}





@keyframes enterleft {
	0% {
		transform: translate(-100px, -100px);
	}
    75% {
        transform: translate(-5px, -20px);
    }
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes entermid {
	0% {
		transform: translatey(-100px);
	}
    75% {
        transform: translatey(13px);
    }
	100% {
		transform: translatey(0px);
	}
}


@keyframes enterright {
	0% {
		transform: translate(100px, -100px);
	}
    75% {
        transform: translate(5px, -20px);
    }
	100% {
		transform: translatey(0px, 0px);
	}
}

@keyframes float {
	0%, 100% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
}

@keyframes floatmid {
	0%, 100% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
}


body{
    color: white;
    background:
     url(/public/images/backgrounds/msbg.gif) center;
    margin: 0;
    padding: 0;
    text-align: center;
}


main{
    background: url(/public/images/containerbgs/Sin\ título-2.png) repeat;
    margin-top: 5%;
    margin-left: 5%;
    padding: 20px;
    min-width: 25%;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    color: buttonk;
    border: 20px solid black;
    border-image: url(/public/images/borders/testborder2.png) repeat;
    border-image-slice: 33%;
}

.blinkies{
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 3%;
}

.content{
    flex-direction: row;
}

.row{
    display: flex;
}

.nav_image{
    border: darkblue 1px;
}

.top-gif-container{
    margin-left: 3%;
    text-align: center;
}

.top-gif-container > *{
    margin-left: 4px;
    margin-right: 4px;
}

.middle-gif-container{
    margin-top: 3%;
    margin-left: 3%;
    display: flex;
    flex-direction: column; 
}

.middle-gif-container > *{
    margin-top:4px;
    margin-left:4px;
    align-self: center;
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
    width: 338px;
    margin-left: 10%;
    background: url("/public/images/containerbgs/reimusweep.gif");
    height: 81px;
}

.button-container > .marquee{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top{
    display: flex;
}

.buttons{
    margin-top: 5px;
    margin-left: 5%;
    display: flex;
}

.buttons-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-column > *{
    margin: 5px;
}

.middle{
    display: flex;
}

.top > h2{
    margin-left: 10%;
}

#yumefixed{
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 126px;
    transform: scaleX(-1);
}

#puni{
    position: fixed;
    bottom: 0;
    right:0;
    width: 300px;
    height: 400px;
}

.ads{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ads > img{
    margin: 20px;
}

.speech{
    color: black;
    position: relative;
	max-width: 20em;
	background-color: #fff;
	padding: 1.125em 1.5em;
	font-size: 1.25em;
	border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2)
}

.speech::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 100%;
    left: 50%;
	border: .75rem solid transparent;
	border-bottom: none;
	border-top-color: #fff;
	filter: drop-shadow(0 0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

