.top-sprites{
    margin-top: 20px;
}


.top-sprites > *{
    margin-left: 9px;
    margin-right: 9px;
}

#shinki{
    margin-bottom: 20px;
    animation: entershinki 5s linear, floatshinki 4.3s linear infinite;
    animation-delay: 0s, 5.5s;
}


@keyframes entershinki {
	0% {
		transform: translatey(-100px);
	}
    75% {
        transform: translatey(-20px);
    }
    89% {
        transform: translatey(-8px);
    }
	100% {
		transform: translatey(0px);
	}
}

#alice{
    animation: enteralice 1.5s linear, float 4s linear infinite;;
    animation-delay: 0s, 6s;
}

@keyframes enteralice {
	0% {
		transform: translate(-100px, -100px);
	}
    75% {
        transform: translate(-13px, -13px);
    }
	100% {
		transform: translate(0px, 0px);
	}
}

#yume{
    animation: enteryume 1.5s linear, float 4s linear infinite;;
    animation-delay: 0s, 6s;
}

@keyframes enteryume {
	0% {
		transform: translate(100px, -100px);
	}
    75% {
        transform: translate(13px, -13px);
    }
	100% {
		transform: translatey(0px, 0px);
	}
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes floatshinki {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


body{
    color: white;
    background: 
     url(/public/images/backgrounds/msheader.png) center top repeat-x,
     url(/public/images/backgrounds/msbg.gif) center;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav{
    margin-left: 3%;
    background-color: black;
    border: 1px solid darkblue;
    padding: 30px;
}

main{
    background: url(/public/images/containerbgs/Sin\ título-2.png) repeat;
    margin-top: 3%;
    margin-left: 20%;
    padding: 20px;
    width: 55%;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    color: pink;
    border: 20px solid black;
    border-image: url(/public/images/borders/testborder2.png) 33% repeat;
    border-image-slice: 33%;
}

.content{
    flex-direction: row;
    margin-top: 50px;
}

.row{
    display: flex;
}

.nav_image{
    border: darkblue 1px;
}

.pin-container{
    border: 30px solid;
    border-image: url(/public/images/borders/testborder3.png) repeat;
    border-image-slice: 20%;
    border-image-outset: 9px;
    width: 30%;
    margin-left: 20%;
    background: url("/public/images/containerbgs/reimusweep.gif");
    background-position: 25% 30%;
}

.pin-container > marquee{
    margin-left: -23px;
    margin-right: -23px;
}

.top{
    display: flex;
}

.top > h2{
    margin-left: 10%;
}

#puni{
    position: fixed;
    bottom: 0;
    right:0;
    width: 300px;
    height: 400px;
}

.speech{
    color: black;
    position: relative;
	max-width: 20em;
	background-color: #fff;
	padding: 1.125em 1.5em;
	font-size: 1.25em;
	border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2)
}

.speech::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 100%;
    left: 50%;
	border: .75rem solid transparent;
	border-bottom: none;
	border-top-color: #fff;
	filter: drop-shadow(0 0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

