@font-face {
    font-family: ms;
    src: url(/public/fonts/MagicDecimal.ttf);
  }

.top-sprites{
    background: url(/public/images/backgrounds/msheader.png) top center;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ms;
}


.top-sprites > *{
    margin-top: 20px;
    margin-left: 9px;
    margin-right: 9px;
}

.top-sprites > * > p{
    opacity: 0;
    animation: fadeIn linear 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    100% { opacity: 1; }
  }

.top-sprites > * > p:hover{
    color: yellow;
}

#alice{
    animation: enteralice 3.5s linear, float 4s linear infinite;
    animation-delay: 0s, 6s;
}

#shinki{
    margin-bottom: 15px;
    animation: entershinki 5s linear, floatshinki 4.3s linear infinite;
    animation-delay: 0s, 5.5s;
}

#yume{
    animation: enteryume 3.5s linear, float 4s linear infinite;
    animation-delay: 0s, 6s;
}



@keyframes enteralice {
	0% {
		transform: translate(-100px, -100px);
	}
    75% {
        transform: translate(-5px, -20px);
    }
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes entershinki {
	0% {
		transform: translatey(-100px);
	}
    75% {
        transform: translatey(13px);
    }
	100% {
		transform: translatey(0px);
	}
}


@keyframes enteryume {
	0% {
		transform: translate(100px, -100px);
	}
    75% {
        transform: translate(5px, -20px);
    }
	100% {
		transform: translatey(0px, 0px);
	}
}

@keyframes float {
	0%, 100% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
}

@keyframes floatshinki {
	0%, 100% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
}


body{
    color: white;
    background:
     url(/public/images/backgrounds/msbg.gif) center;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav{
    margin-left: 3%;
    background-color: black;
    border: 1px solid darkblue;
    padding: 30px;
    height: 100%;
}

main{
    background: url(/public/images/containerbgs/Sin\ título-2.png) repeat;
    margin-top: 5%;
    margin-left: 10%;
    padding: 20px;
    width: 55%;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    color: buttonk;
    border: 20px solid black;
    border-image: url(/public/images/borders/testborder2.png) repeat;
    border-image-slice: 33%;
}

.content{
    flex-direction: row;
}

.row{
    display: flex;
}

.nav_image{
    border: darkblue 1px;
}

.top-gif-container{
    margin-left: 3%;
    text-align: center;
}

.top-gif-container > *{
    margin-left: 4px;
    margin-right: 4px;
}

.middle-gif-container{
    margin-top: 3%;
    margin-left: 3%;
    display: flex;
    flex-direction: column; 
}

.middle-gif-container > *{
    margin-top:4px;
    margin-left:4px;
    align-self: center;
}

.button-container{
    margin-top: 13px;
    border: 45px solid;
    border-image: url(/public/images/borders/th02frame.png) repeat;
    border-image-slice: 33%;
    border-image-outset: 9px;
    width: 30%;
    margin-left: 14%;
    background: url("/public/images/containerbgs/reimusweep.gif");
    background-position: 25% 30%;
    height: 40px;
    text-align: center;
}

.button-container > marquee{
    margin-left: -37px;
    margin-right: -37px;
}

.top{
    display: flex;
}

.middle{
    display: flex;
}

.top > h2{
    margin-left: 10%;
}

#yumefixed{
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 126px;
    transform: scaleX(-1);
}

#puni{
    position: fixed;
    bottom: 0;
    right:0;
    width: 300px;
    height: 400px;
}

.speech{
    color: black;
    position: relative;
	max-width: 20em;
	background-color: #fff;
	padding: 1.125em 1.5em;
	font-size: 1.25em;
	border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2)
}

.speech::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 100%;
    left: 50%;
	border: .75rem solid transparent;
	border-bottom: none;
	border-top-color: #fff;
	filter: drop-shadow(0 0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

